/*Seccion para Lista de Pendientex y Finalizados*/
.ContenedorResumen{
    padding-bottom:15px;
}

.ContendorIndividualResumen{
    margin:15px; 
    box-shadow:0 0px 12px;
}

.TituloResumen{
    background-color:#B0B7D1;
    text-align:center;
    padding:12px;
}

.ContenedorListaResumen{
    background-color:#F7F7F7;
}

.ContenedorListaResumen ul{
    font-family:sans-serif;
    text-align: center;
    padding: 0; 
    list-style-type: none;
}

.ImagenesResumen{
    width:25px;
    height:25px;
}

/*Fin Seccion de Barra de Botones Rapidos*/

/*Barra de Botones*/

/*Contenedores de lso Botones*/
#PanelBotonesFast{
    padding:25px;
}

/*Css Botones */
.BarraBotonesFast{
    background-color:#fff;
}

.botonfast{
    width:100%;
    height:30px;
    padding:0px;
    color:#fff;
    font-family:sans-serif;
    font-weight:bolder;
    background-color:#313D66;
    border-width:0;
}

.botonfast:hover{
   background-color:#B0B7D1;
   color:#313D66;
}

.imagenesBotonesFast{
    width:15px;
    height:15px;
    margin:7px;
}
/*Fin Seccion de Barra de Botones Rapidos*/

/*Seccion Panel de Elementos Pendientes*/

#MargenParaPendientes{
    height:400px;
    margin:13px;
}

#ContenedorPendientes{
    box-shadow:0 0px 13px;
    margin:13px;
}

#TituloListaPendientes{
     background-color:#B0B7D1;
     font-weight:bolder;
     text-align:center;
     font-family:sans-serif;
     padding:13px;
}

#ContenedorListaPendientes{
    overflow-y:scroll;
    height:270px;
    background-color:#fff;
}

.ListaObjeto{
    margin:12px;
    box-shadow:0 0px 7px;
}

.TituloLista{
    border-width:1px;
    border-bottom:solid;
    border-color:#fff;
}
/*Fin de Seccion Panel de Elementos Pendientes*/

