/*  Seccion para listas colgantes*/

.ContenedoresListasColgantes{
    padding:13px;
}

.ListasColgantes{
    color:#313D66;
    padding:13px;
    text-height:max-size;
    font-weight:bolder;
    border-bottom:6px solid #17a2b8;
    background-color:#fff;
}
/*Fin   Seccion para listas colgantes*/



/*CSS Titulo de la Lista Actividades
*/
.titulolista{
    text-align:center;
    border-width:thick;
    color:#000;
}

/* Fin CSS Titulo de la Lista Actividades
*/

/*Cartel nuevo Proyecto*/
.CartelNuevoProyecto{
  padding-top:13px;
  padding-bottom:13px;
  padding-left:40px;
  padding-right:40px;
}

.Cartel{
    background-color:#fff;
    padding:13px;
    font-size:30px;
}

#LogoNuevoProyecto{
    width:50px;
    height:50px;
}
/*Fin Cartel nuevo Proyecto*/

/* Elementos del form de nuevo Proyecto*/
#BotonAgregarIntegrante{
    width:80px;
    height:40px;
    margin-top:18px;
}

#VandejaCorreos{
    margin-top:12px;
}

.TarjetasCorreo{
   
   margin-top:13px;
    margin-bottom:13px;
     padding-left:23px;
     padding-right:53px;
}

.TarjetasCorreoCarta{
    background-color:#17a2b8;
   margin-left:23px;
   margin-right:23px;
    padding:13px;
}

.ImagenBasuraCorreo{
    height:30px;
    width:30px;
}
/*Fin Elementos del form de nuevo Proyecto*/